---
import Spotlight from "@/components/spotlight";
---

<Spotlight>
  <div class="overflow-hidden rounded-lg border border-gray-200/10">
    <slot name="image" />
    <div class="space-y-2 p-4">
      <slot />
    </div>
  </div>
</Spotlight>
