---
import Spotlight from "@/components/spotlight";
---

<Spotlight>
  <div
    class="space-y-2 overflow-hidden rounded-lg border border-gray-200/10 p-4 sm:p-5"
  >
    <slot />
  </div>
</Spotlight>
