---
import "@fontsource/poppins";
import Header from "@/components/header.astro";
import Analytics from "@/components/analytics.astro";
---

<html
  lang="en"
  class="scroll-pt-24 scroll-smooth bg-black text-gray-200 antialiased sm:scroll-pt-32"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Software Engineer" />
    <meta property="og:title" content="Alexander Barkhatov" />
    <meta property="og:description" content="Software Engineer" />
    <title>Alexander Barkhatov</title>
  </head>
  <body class="min-w-[20rem] font-sans">
    <Analytics />

    <div
      class="fixed inset-0 z-[-1] bg-gradient-to-tl from-black via-gray-600/20 to-black"
    >
    </div>

    <Header />

    <div class="mx-auto max-w-4xl space-y-10 px-6 py-8 sm:py-16">
      <slot />
    </div>
  </body>
</html>
