---
import SectionContainer from "@/components/section-container.astro";
import Card from "@/components/card.astro";
import { getOSSData } from "@/lib/github";
import { halfArray } from "@/lib/utils";

const { repositories } = await getOSSData();
---

<SectionContainer title="Open source" id="oss">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    {
      halfArray(repositories).map(
        (half) =>
          half.length > 0 && (
            <div class="flex flex-col gap-4">
              {half.map((x) => (
                <Card>
                  <div class="flex items-center justify-between gap-3">
                    <a
                      href={`https://npmjs.com/package/${x.name}`}
                      target="_blank"
                      class="inline-flex items-center gap-2"
                      title="View on npm"
                    >
                      <h3 class="truncate text-lg font-semibold">{x.name}</h3>
                      <span class="i-lucide-external-link h-4 w-4" />
                    </a>
                  </div>

                  <div class="text-sm text-gray-300">{x.description}</div>
                </Card>
              ))}
            </div>
          ),
      )
    }
  </div>
</SectionContainer>
