---
type Props = {
  title: string;
  icon: string;
};

const { title, icon } = Astro.props;
---

<section>
  {
    title && (
      <div class="mb-2 flex items-center gap-2">
        {icon && <span class:list={[icon, "h-4 w-4"]} />}

        <h2>{title}</h2>
      </div>
    )
  }

  <div class="ml-6">
    <slot />
  </div>
</section>
