---
type Props = {
  title: string;
  icon?: string;
};

const { title, icon } = Astro.props;
---

<section class="flex items-baseline gap-2">
  {
    (Astro.slots.has("icon") || icon) && (
      <div class="shrink-0">
        <slot name="icon">
          <span class:list={[icon, "h-4 w-4"]} />
        </slot>
      </div>
    )
  }

  <div>
    <h2>{title}</h2>

    <div class="mt-2">
      <slot />
    </div>
  </div>
</section>
