---
import Card from "@/components/card.astro";
import SectionContainer from "@/components/section-container.astro";

const socials = [
  {
    href: "pm@aleks.bar",
    title: "Email",
    iconClass: "i-lucide-mail",
  },
  {
    href: "https://linkedin.com/in/aleksandrbarkhatov",
    title: "LinkedIn",
    iconClass: "i-lucide-linkedin",
  },
  {
    href: "https://github.com/aleksdotbar",
    title: "GitHub",
    iconClass: "i-lucide-github",
  },
  {
    href: "https://twitter.com/aleksdotbar",
    title: "Twitter",
    iconClass: "i-lucide-twitter ",
  },
];
---

<SectionContainer id="hello">
  <Fragment slot="title">
    Hello there
    <span class="inline-block origin-bottom-right animate-wave">👋</span>
  </Fragment>

  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    <div class="space-y-8">
      <p class="max-w-2xl">
        I'm Aleksandr, a software engineer with a passion for coding and web
        development
      </p>

      <div class="flex items-center justify-between gap-2 sm:gap-6">
        {
          socials.map((x) => (
            <a
              href={x.href}
              title={x.title}
              target="_blank"
              class="flex-1 text-gray-400 transition hover:text-gray-300"
            >
              <Card>
                <div class="flex items-center justify-center">
                  <span class={`${x.iconClass} h-6 w-6`} />
                </div>
              </Card>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</SectionContainer>
