---
import { Image } from "astro:assets";
import Card from "@/components/card.astro";
import SectionContainer from "@/components/section-container.astro";
import avatar from "@/assets/avatar.webp";

const socials = [
  {
    href: "mailto:mail@xanderbarkhatov.com",
    title: "Email",
    iconClass: "i-lucide-mail",
  },
  {
    href: "https://linkedin.com/in/xanderbarkhatov",
    title: "LinkedIn",
    iconClass: "i-lucide-linkedin",
  },
  {
    href: "https://github.com/xanderbarkhatov",
    title: "GitHub",
    iconClass: "i-lucide-github",
  },
  {
    href: "https://twitter.com/xanderbarkhatov",
    title: "Twitter",
    iconClass: "i-lucide-twitter ",
  },
];
---

<SectionContainer id="hello">
  <Fragment slot="title">
    Hello there
    <span class="inline-block origin-bottom-right animate-wave">👋</span>
  </Fragment>

  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    <div class="space-y-8">
      <p class="max-w-2xl">
        I'm Alexander, a software engineer passionate about learning, coding and
        building things
      </p>

      <div class="flex items-center justify-between gap-2 sm:gap-6">
        {
          socials.map((x) => (
            <a
              href={x.href}
              title={x.title}
              target="_blank"
              class="flex-1 text-gray-400 transition hover:text-gray-300"
            >
              <Card>
                <div class="flex items-center justify-center">
                  <span class={`${x.iconClass} h-6 w-6`} />
                </div>
              </Card>
            </a>
          ))
        }
      </div>
    </div>

    <div
      class="relative aspect-square w-full max-w-xs justify-self-center overflow-hidden rounded-lg border border-gray-200/5 md:justify-self-end"
    >
      <Image
        src={avatar}
        alt="Photo of me looking at the Christmas lights"
        class="object-contain object-center"
        widths={[318, 636]}
      />
      <div class="absolute inset-0 bg-gray-950/20"></div>
    </div>
  </div>
</SectionContainer>
